
h1{
  text-align: center;
}

  .downloadresult
  {
    margin-left: 93%;
    margin-bottom: 1%;
    background-color: green;
  }

  
  .mainResult {
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Responsive styles for the DataTable */
  .p-datatable-wrapper {
    height:calc(5*90px);
    overflow-x: auto; /* Horizontal scrolling for the DataTable */
    max-width: 100%; /* Ensure the DataTable wrapper doesn't exceed viewport width */
    overflow-y: auto;
  }
  
  /* Responsive styles for the DataTable */
  .p-datatable {
    min-width: 100%; /* Ensure DataTable takes full width of its container */
  }
  
  /* Responsive styles for the columns */
  .p-datatable table thead th,
  .p-datatable table tbody td {
    white-space: nowrap; /* Prevent text wrapping */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
    overflow: hidden;
  }