/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  height: 15px;
  background-color: #ffc107; 
  color: #fff; 
}
.navbar-left {
  font-size: 25px;
}
.navbar-right {
  display: flex;
  align-items:center;

}
.profile-pic {
  font-size: 24px; 
  width: 40px; 
  height: 40px; 
  line-height: 40px; 
  border-radius: 50%; 
  background-color: #ffc107; 
  color: #fff; 
  text-align: center; 
  margin-right: 10px; 
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 40px;
  width: 40px; 
  height: 40px;
  margin-left: 10px;
  border-radius: 50%; 
  padding: 3px;
  transition: background-color 0.3s ease;
}
.icon-button img {
  width: 40px; 
  height: 35px; 
  border-radius: 50%; 
} */
/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  height: 15px;
  background-color: #ffc107; 
  color: #fff; 
}

.navbar-left {
  font-size: 25px;
}
.navbar-right {
  display: flex;
  align-items:center;

}
.profile-pic {
  font-size: 24px; 
  width: 40px; 
  height: 40px; 
  line-height: 40px; 
  border-radius: 50%; 
  background-color: #ffc107; 
  color: #fff; 
  text-align: center; 
  margin-right: 10px; 
}
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 40px;
  width: 40px; 
  height: 40px;
  margin-left: 10px;
  border-radius: 50%; 
  padding: 3px;
  transition: background-color 0.3s ease;
}
.icon-button img {
  width: 40px; 
  height: 35px; 
  border-radius: 50%; 
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  height: 15px;
  background-color: #fff; 
  color: black; 
  overflow: hidden;
  position: fixed;
  width:99%;
  z-index:1;
}
.navbar-left {
  font-size: 25px;
}
.navbar-left46 {
  font-size: 24px;
}
.letterY{
  color:#ffc107;
}
.navbar-right {
  display: flex;
  align-items:center;
  padding-right: 22px;

}
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 40px;
  width: 40px; 
  height: 40px;
  margin-left: 10px;

  border-radius: 50%; 
  padding: 3px;
  transition: background-color 0.3s ease;
}
.icon-button img {
  width: 40px; 
  height: 35px; 
  border-radius: 50%; 
}