.congrats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #fff; 
  border-radius: 10px;
  max-width: 400px; 
  margin: 0 auto; 
  margin-top: 30vh;
  /* overflow-y: hidden; */
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  /* margin: 20px; */
  height: 300px;
  width: 200px;
  overflow-y: hidden;
}

.congrats-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px; 
}

.congrats-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.congrats-container h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.congrats-container button {
  padding: 10px 20px;
  width: 200px;
  font-size: 16px;
  margin-top: 50px;
  background-color: #F0B310;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.congrats-container button:hover {
  background-color: #45a049; 
}
