.list{
    width: 500px;
    height: max-content;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%)
}
.buttonins{
    background-color: #f9a825;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 22px;
    border-radius: 15px;
    margin: 1rem;
    width: 90%;
    
}